.App{
    background-color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    padding: 10px;
    gap: 20px;
    height: 90vh;
}

.App h2{
    font-size: 20px;
    font-style: italic;
}

.app{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.todo button:hover{
    cursor: pointer;
    background-color: rgb(200, 230, 155);
}

.addTodo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.addTodo input{
    border-radius: 45px;
    padding: 5px 10px;
    font-size: 16px;
    width: 78%;
    height: 25px;
}

.addBtn{
    background-color: blue;
    border-radius: 5px;
    font-size: 16px;
    padding: 6px 4px;
    color: white;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.addBtn:hover{
    border: 1px solid blue;
    background-color: rgb(67, 67, 253);
}

.todos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid gray;
}

.todos button{
    font-size: 18px;
    background-color: #ED5E68;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.todos button:hover{
    background-color: #eb7b83;
    border: 1px solid red;
}

.label{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-family: serif;
}

.label input{
    width: 18px;
    height: 18px;
    accent-color: #6C63FF;
}

